body {
  background-image: url('http://localhost/CRUDPHP/CRUD/assets/imgs/132467.jpeg');

}
.container {
  background-color: rgba(193, 199, 246, 0.942) !important; 
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
}

label {
  display: flex;
  justify-content: flex-start;
}
.btn_add {
  width: 100%;
  border: 1px solid #333 !important;
  background-color: #333 !important;
}
.btn_add:hover {
  opacity: 0.8;
}
.btn-success {
  border: 1px solid #06c046 !important;
  background-color: #06c046 !important;
}
hr {
  height: 0.1px !important;
  color: #06c046 !important;
  width: 100% !important;
  background-color: red;
}
.bi-arrow-right-circle {
  font-size: 30px;
}
.titulo_modal {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #444;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
thead tr th {
  text-align: start !important;
}
tr td {
  text-align: start !important;
  font-size: 17px;
}

tr {
  background-color: #b4a2f9e1;
}


.btn-ver {
  background-color: rgb(252, 3, 207) !important;
  color: white !important;
}

.btn-editar {
  background-color: rgb(107, 3, 252) !important;
  color: white !important;
}

.btn-eliminar {
  background-color: rgb(250, 35, 114) !important;
  color: white !important;
}

